<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form>
        <label for="location">Location:</label><br />
        <input type="text" id="location" /><br />
        <label for="credit">Credit card number:</label><br />
        <input type="text" id="credit" /><br />
        <label for="phone">Another phone number:</label><br />
        <input type="text" id="phone" /><br />
      </form>
    </div>
  </body>
</html>
