<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/payment.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="parent">
      <div class="inputBox">
        <div class="container">
          <form>
            <div class="inner_form">
              <label for="location">Location:</label><br />
              <input class="input" type="text" id="location" /><br />
              <label for="credit">Credit card number:</label><br />
              <input class="input" type="text" id="credit" /><br />
              <label for="phone">Another phone number:</label><br />
              <input class="input" type="text" id="phone" /><br />
            </div>
          </form>
        </div>
      </div>
      <div class="itemBox">
        <h2>cart :</h2>
        <br />
        <div class="Item">
          <img src="/images/1.jpg" width="70px" />
          <p>Full boned thigh <br />370EGP</p>
        </div>
        <br />
        <div class="Item">
          <img src="/images/20.jpg" width="130px" />
          <p>Neck lamb<br />450EGP</p>
        </div>
        <div class="priceBox">
          <p>Total Price : 810EGP</p>
          <p>Tax :40.5EGP</p>
          <p>Total : 850.5EGP</p>
        </div>
      </div>
    </div>
  </body>
</html>
