
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Meataria - Sign Up</title>
  </head>
  <body>
    <div class="main__page">
      <div class="bounding__box">
        <h2>Sign Up</h2>
        <form action="POST">
          <label for="first-Name">First-Name</label>
          <br>
          <input type="text" name="first-Name" id="first-Name" class="textIn"/>
          <br>
          <label for="Second-Name">Second-Name</label>
          <br>
          <input type="text" name="Second-Name" id="Second-Name" class="textIn"/>
          <br>
          <label for="Email">Email</label>
          <br />
          <input type="text" name="Email" id="Email" class="textIn"/>
          <br />
          <label for="Phonenumber">Phonenumber</label>
          <br>
          <input type="Phonenumber" name="Phonenumber" id="Phonenumber" class="textIn"/>
          <br>
          <label for="Password">Password</label>
          <br />
          <input type="password" name="Password" id="Password" class="textIn"/>
          <br />
          <label for="Confirm-pass">Confirm-pass</label>
          <br>
          <input type="password" name="Confirm-pass" id="Confirm-pass" class="texrIn"/>
          <br />
          <br />
          <input type="submit" value="Sign Up" class="submit"/>
          <br>
          <br />
          <a href="">Forgot Your Password?</a>
          <br>
          <a href="">Person</a>
          <br>
          <a href="">Company</a>
        </form>
      </div>
    </div>
  </body>
</html>
nps