<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Welcom to our Butcher shop</h1>
      <p>Highest quality, best price</p>
    </div>
    <fieldset>
    <form action="POST">
      <div>
        <label for="User Name">User Name : </label>
        <input id="User Name" type="User Name"  name="Username"/>
      </div>
      <br />
      <div>
        <label for="PhoneNumber Name">PhoneNumber : </label>
        <input id=" PhoneNumber" type="PhoneNumber " name="'Phone"/>
      </div>
      <br />
      <div>
        <label for="Email">Email : </label>
        <input id="Email" type="Email" name="Email"/>
      </div>
      <br />
      <div>
        <label for="password">Password : </label>
        <input id="password" type="password" name="'pass"/>
      </div>
      <br />
      <div>
        <label for="Number">Tax Number : </label>
        <input id="Number" type="Number" name="tax"/>
      </div>
      <br />
      <div>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </fieldset>
  </body>
</html>
