<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
<div class="main__page">
    <div class="bounding__box">
        <h2>Sign Up</h2>
        <form method="POST" action="/sign-up">
            <label for="firstName">First Name</label><br>
            <input type="text" name="firstName" id="firstName" class="textIn"/><br>
            <label for="secondName">Second Name</label><br>
            <input type="text" name="secondName" id="secondName" class="textIn"/><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" class="textIn"/><br>
            <label for="phoneNumber">Phone Number</label><br>
            <input type="text" name="phoneNumber" id="phoneNumber" class="textIn"/><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" class="textIn"/><br>
            <input type="submit" value="Sign Up" class="submit"/><br><br>
        </form>
    </div>
</div>
</body>
</html>
