<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Welcom to our Butcher shop</h1>
      <p>Highest quality, best price</p>
    </div>
    <form action="POST">
    <fieldset>
      <div>
        <label for="User Name">User Name : </label>
        <input id="User Name" type="User Name" name="username"/>
      </div>
      <br />
      <div>
        <label for="password">Password :</label>
        <input id="password" type="password" />
      </div>
      <br />
      <div>
        <button type="button">Sign in</button>
      </div>
    </fieldset>
  </form>
  </body>
</html>
