:root {
  --background: #eff1f3;
  --forground: #0f0f0f;
  --accent1: #f15d5d;
  --accent2: #5095f0;
  --accent3: #dbd3d8;
}

body {
  background: rgb(219, 211, 216);
  background: linear-gradient(
    90deg,
    rgba(219, 211, 216, 1) 24%,
    rgba(80, 149, 240, 1) 100%
  );
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}
.inputBox {
  grid-area: 1 / 1 / 2 / 2;
  height: 40rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
}
.itemBox {
  grid-area: 1 / 2 / 2 / 3;
  height: 40rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
}
.col .inputBox {
  margin: 15px 0;
}

.col .inputBox label {
  margin-bottom: 10px;
  display: block;
}

.col .inputBox input,
.col .inputBox select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;

  div {
    margin: 20px auto;
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
  }

  input[type="text"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  input[type="text"]:focus {
    border-color: #007bff;
  }
}
.input {
  margin-bottom: 20px;
}
.container {
  position: relative;
  width: 350px;
  height: 200px;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
}
.Item {
  display: flex;
  justify-content: left;
  align-items: center;
}
.priceBox {
  position: relative;
  margin-bottom: 5px;
  top: 30%;
}
